<ion-header>
  <ion-toolbar>
    <ion-title>nutrition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-title class="titles">Featured meals</ion-title>

    <ion-row>
        <ion-col col-2>
            <ion-card>
                <img class="card-img" src="assets/img/food1.png"/>
                <div class="card-title">name of food</div>
                <div class="card-subtitle">description for food will go here</div>
            </ion-card>
        </ion-col>
        <ion-col col-2>
            <ion-card>
                <img class="card-img" src="assets/img/food2.png"/>
                <div class="card-title">name of food</div>
                <div class="card-subtitle">description for food will go here</div>
            </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-2>
              <ion-card>
                  <img class="card-img" src="assets/img/food3.png"/>
                  <div class="card-title">name of food</div>
                <div class="card-subtitle">description for food will go here</div>
              </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card>
                  <img class="card-img" src="assets/img/food4.png"/>
                  <div class="card-title">name of food</div>
                <div class="card-subtitle">description for food will go here</div>
              </ion-card>
          </ion-col>
        </ion-row>

</ion-content>









