<ion-header>
  <ion-toolbar>
    <ion-title>workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title class="titles">Featured Workout</ion-title>

    <ion-row>
        <ion-col col-2>
            <ion-card>
                <img class="card-img" src="assets/img/shoulder.png"/>
                <div class="card-title">Shoulders</div>
                <div class="card-subtitle">Achieve toned and strong shoulders</div>
            </ion-card>
        </ion-col>
        <ion-col col-2>
            <ion-card>
                <img class="card-img" src="assets/img/upper.png"/>
                <div class="card-title">Upper body</div>
                <div class="card-subtitle">Description goes here</div>
            </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-2>
              <ion-card>
                  <img class="card-img" src="assets/img/cardio.png"/>
                  <div class="card-title">5 minutes Cardio</div>
                  <div class="card-subtitle">Description goes here</div>              
                </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card>
                  <img class="card-img" src="assets/img/leg.png"/>
                  <div class="card-title">Legs</div>
                  <div class="card-subtitle">Description goes here</div>
              </ion-card>
          </ion-col>
        </ion-row>



    

</ion-content>
