<ion-header>
    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
  
        <ion-card *ngIf="showBtn">
            <ion-card-header>
              <ion-card-subtitle>Workout & Nutrition: Women</ion-card-subtitle>
              <ion-card-title>Welcome!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Sign up for a personalised workout routines and meal planner
  
              <ion-button class="btnSignUp" fill="clear" color="medium" (click)="showSignup()">
                  Sign up
              </ion-button>
            </ion-card-content>
          </ion-card>

            <ion-title  *ngIf="showGreeting" class="greeting">Hello {{name}}!</ion-title>
          
  
          <ion-title class="titles">Workout for today</ion-title>
  
              <ion-card (click)="showUserWorkout()">
                  <img class="card-img" src="assets/img/shoulder.png"/>
                  <div class="card-title">name of workout</div>
                  <div class="card-subtitle">time and description</div>
              </ion-card>
  
              <ion-title class="titles">Meal of the day</ion-title>
  
            <ion-card  (click)="showUserMeal()">
                <img class="card-img" src="assets/img/food1.png"/>
                <div class="card-title">name of food</div>
                <div class="card-subtitle">time and description</div>
            </ion-card>
     
    </div>
  </ion-content>
  